/* App.css */
.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.toolbar {
  display: flex;
  height: 100px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1493863641943-9b68992a8d07?q=80&w=1458&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

[cs-editable] {
  border: 2px solid blue;
  padding: 4px;
  margin: 4px 0;
}

#dropZone {
  position: relative; /* Relative positioning for absolute child elements */
}
